.remove-padding{
	padding:0;
}
.end-date{
	padding-left: 30px;
}
.calander-heading h1{
	margin: 0 0 50px 0;
  	padding: 20px 0;
  	border-bottom: 1px solid #d8d8d8;
  	color: #343f4b;
  	font-size: 24px;
}
.calender-body{
	background: #f5f5f5;
  	border-radius: 5px;
  	padding-bottom: 80px;
  	
}
.teval-calender{
	width: 80%;
  	margin:0 auto;
}
.select-frequency .form-group input{
	text-align: right;
}
.ok{
	float: right;
}
.ok .btn{
	background: #e6d9b3 !important;
  	border: 1px solid #e6d9b3 !important;
  	color: #5d4d4b !important;
  	font-weight: bold;
  	margin: 20px 0;
}
@media all and (max-width: 767px){
	.form-group input{
		z-index: 0 !importants;
	}
}
/*date picker cutomization*/
.datepicker thead tr:first-child th.prev,.datepicker thead tr:first-child th.next,
.datepicker thead tr:first-child th.prev:hover.datepicker thead tr:first-child th.next:hover{
  	background: rgb(78, 93, 108);
  	color: #ffffff;
  	padding-bottom: 5px;
}
.dropdown-menu{
	min-width: 300px;
	border: 5px solid #e6e6e6;
	box-shadow: none;
  background-color: white;
  color: black;
}
.datepicker table{
	width: 100%;
}
.datepicker table tr td.active.active{
	background: #5d4d4b;
}
.datepicker table tr td.day:hover, .datepicker table tr td.day.focused {
  	background: #5d4d4b;
  	color: #ffffff;
  	cursor: pointer;
  	border-radius:0;
}
tbody tr td{
	font-weight: bold;
    border-right: 1px solid #e6e6e6 !important;
    border-bottom: 1px solid #e6e6e6!important;
}
tbody tr td:last-child{
    border-right:none !important;
}
tbody tr:last-child td{
    border-bottom:none !important;
}
thead tr th{
	color: #5d4d4b;
}
thead tr:last-child th{
	 border-right: 1px solid #e6e6e6 !important;
	 border-bottom:  1px solid #e6e6e6 !important;
}
thead tr:last-child th:last-child{
	 border-right:none !important;
}